.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.leftContent {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.title {
  font-weight: bold;
  white-space: nowrap;
}

.divider {
  color: #666;
  margin: 0 0.5rem;
}

.subtitle {
  margin: 0;
  color: #666;
}

.menuContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 0.125rem;
}

.menuLink {
  font-family: var(--font-alternative3);
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease;
  padding: 5px 10px;
  border-radius: 9999px;
  border: 1px solid #333;
  margin-right: 20px;
}

.menuLink:hover {
  color: rgb(255, 255, 255);
}

.userName {
  font-family: var(--font-alternative3);
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  margin-right: 0.5rem;
  /* padding: 5px 10px; */
}

.signOutBtn {
  font-family: var(--font-alternative3);
  font-size: 1rem;
  font-weight: 500;
  background: none;
  margin-right: 10px;
  border: 1px solid #333;
  padding: 5px 10px;
  cursor: pointer;
  color: #333;
  border-radius: 9999px;
  transition: all 0.2s ease;
}

.signOutBtn:hover {
  color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
  .subtitle {
    display: block;
    flex: 1;
    text-align: center;
    margin: 0 20px;
  }
}
