:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #cecb2b;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cecb2b;
}

.leftColumn {
  width: 40%;
  padding: 20px;
  border-right: 1px solid #000;
  overflow-y: auto;
  height: 100vh;
  box-sizing: border-box;
}

.rightColumn {
  flex: 1; /* Simplified flex property */
  background-color: #cecb2b;
  overflow-y: auto;
  height: 100vh;
  padding: 0; /* No padding here */
  margin: 0;
  box-sizing: border-box;
  position: relative; /* Make sure position is set */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
