:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #cecb2b;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: var(--font-asca);
  src: url("/fonts/ASCA.ttf") format("truetype");
}

@font-face {
  font-family: var(--font-twentyfive);
  src: url("/fonts/205tf.woff2") format("woff2");
}

h2 {
  font-family: var(--font-asca);
  font-size: 2rem;
  font-weight: 900;
}

p {
  font-family: var(--font-twentyfive);
  font-size: 1rem;
  font-weight: 100;
}

span {
  font-family: var(--font-twentyfive);
  font-size: 0.7rem;
  font-weight: 100;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.page-layout {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  grid-template-rows: 60px 1fr 60px;
  height: 100vh;
  width: 100vw;
  background-color: #ddd9c8;
  /* border: 2px dotted #000; */
}

.border-container {
  background-color: #ddd9c8;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Corner containers */
.top-left-corner {
  grid-column: 1;
  grid-row: 1;
  border-right: 2px dotted #000;
  border-bottom: 2px dotted #000;
}

.top-right-corner {
  grid-column: 3;
  grid-row: 1;
  border-left: 2px dotted #000;
  border-bottom: 2px dotted #000;
}

.bottom-left-corner {
  grid-column: 1;
  grid-row: 3;
  border-right: 2px dotted #000;
  border-top: 2px dotted #000;
}

.bottom-right-corner {
  grid-column: 3;
  grid-row: 3;
  border-left: 2px dotted #000;
  border-top: 2px dotted #000;
}

/* Border containers */
.left-border {
  grid-column: 1;
  grid-row: 2;
  border-right: 2px dotted #000;
}

.right-border {
  grid-column: 3;
  grid-row: 2;
  border-left: 2px dotted #000;
}

.top-border {
  grid-column: 2;
  grid-row: 1;
  border-bottom: 2px dotted #000;
}

.bottom-border {
  grid-column: 2;
  grid-row: 3;
  border-top: 2px dotted #000;
}

.main-section {
  grid-column: 2;
  grid-row: 2;
  background-color: #ddd9c8;
  height: 100%;
}

.container {
  display: flex;
  background-color: #ddd9c8;
  overflow: hidden;
  height: 100%;
}

.leftColumn {
  width: 40%;
  padding: 20px;
  border-right: 2px dotted #000;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
}

.rightColumn {
  flex: 1;
  background-color: #ddd9c8;
  overflow-y: auto;
  height: calc(100vh - 124px); /* Account for top and bottom borders + gaps */
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
